<div class="logo">
  <span><b>A</b>DVOKAT <b>I</b>VAR <b>H</b>USTAD <b>AS</b></span>
</div>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid header">
    <a href="/" class="navbar-brand mr-3">Hovedside</a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="/omoss" id="omoss" class="nav-item nav-link">Om oss</a>
        <a href="/finansiering" id="finansiering" class="nav-item nav-link">Rådgiving og sakførsel</a>
        <a href="/forsikring" id="forsikring" class="nav-item nav-link">Forsikring</a>
        <a href="/kontakt" id="kontakt" class="nav-item nav-link">Kontakt oss</a>
      </div>
    </div>
  </div>
</nav>