<nav class="navbar navbar-expand-md p-0">
  <div class="container-fluid header p-3">
    <a href="/redesign1" class="navbar-brand" id="hovedside">Namsosadvokatene</a>
    <button type="button" class="navbar-toggler custom-toggler" data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="/redesign1/kompetanse" id="kompetanse" class="nav-item nav-link">Kompetanse</a>
        <a href="/redesign1/omoss" id="omoss" class="nav-item nav-link">Om oss</a>
        <a href="/redesign1/priser" id="priser" class="nav-item nav-link">Priser</a>
        <a href="/redesign1/forsikring" id="forsikring" class="nav-item nav-link">Nyttig informasjon</a>
        <a href="/redesign1/kontakt" id="kontakt" class="nav-item nav-link">Kontakt</a>
      </div>
    </div>
  </div>
</nav>