body {
  background: #373B44;
  background: -webkit-linear-gradient(to right, #0c647e, #373B44);
  background: linear-gradient(to right, #0c647e, #373B44);
  font: sans-serif;
  overflow: visible;
}

p {
  max-width: 600px;
}

.error {
  color: red;
}

.header {
  font-size: 0.8em;
}

.logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  width: 100%;
  max-width: 600px;
  text-align: left;
  padding: 1em 1em 1em 0.5em;
  line-height: normal;
}

span { 
  font-size: 1.5em;
}

span b {
  font-size: 2em;
  font-weight: normal;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

@media screen and (max-width: 420px) {
  span { 
    font-size: 1em;
  }
  
  span b {
    font-size: 1.5em;
    font-weight: normal;
  }
}
