body {
  background: white;
  font-family: 'Ubuntu', sans-serif;
}

p {
  max-width: 600px;
}

.header {
  background: #00199A;
  color: white;
}

.header a {
  color: white;
}

a:hover {
  color: #3a93ff;
}

.color-primary {
  background-color: #C1F4FF;
}

.color-secondary {
  background-color: #E1FAFF;
}

.btn {
  background-color: #C1F4FF;
  cursor: pointer;
  bottom: 10%;
}

.btn:hover {
  background-color: #E1FAFF;
}

#forside {
  height: 400px;
  width: 100%;
}

@media screen and (min-width: 1px) and (max-width: 576px) {
  #forside {
    height: 150px;
    width: 100%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  #forside {
    height: 200px;
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  #forside {
    height: 300px;
    width: 100%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1600px) {
  #forside {
    height: 330px;
    width: 100%;
  }
}

.footer {
  background: #000E56;
  color: white;
}

.footer .links a {
  color: white;
  transition: color 0.2s;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo {
  font-family: 'Merriweather Sans', sans-serif;
}