body {
  background: white;
  font-family: 'Ubuntu', sans-serif;
}

p {
  max-width: 600px;
}

.content-forsikring {
  max-width: 1000px;
  margin: auto;
}

.header {
  background: #00199A;
  color: white;
}

.header a {
  color: white;
}

a:hover {
  color: #3a93ff;
}

.color-primary {
  background-color: #C1F4FF;
}

.color-secondary {
  background-color: #E1FAFF;
}

.btn {
  background-color: #C1F4FF;
  cursor: pointer;
  bottom: 10%;
}

.btn:hover {
  background-color: #E1FAFF;
}

.image-container {
  position: relative;
}

.image-container .btn {
  position: absolute;
  width: 228px;
  height: 78px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  margin: auto;
}

.image-container .btn1 {
  right: 30%;
}

.image-container .btn2 {
  right: 3%;
}

@media screen and (max-width: 992px) {
  .image-container {
    display: none;
  }
}

/* @media screen and (max-width: 680px) {
  .image-container .btn1 {
    right: 50%;
  }
}

@media screen and (max-width: 500px) {
  .image-container .btn {
    width: 130px;
    height: 60px;
  }
}

@media screen and (max-width: 300px) {
  .image-container .btn {
    width: 100px;
    height: 45px;
  }
} */

.footer {
  background: #000E56;
  color: white;
}

.footer .links a {
  color: white;
  transition: color 0.2s;
}
 
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo {
  font-family: 'Merriweather Sans', sans-serif;
}