<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="content">

    <header>
      <% include ../partials/header %>
    </header>

    <div class="col offset-lg-1">
      <div class="card border p-3 m-3 shadow" style="max-width: 630px;">
        <img class="img-fluid pb-3" width="100" src="images/ivar.jpg" alt="Ivar">
        <h5 class="pb-0 mb-0">Ivar Hustad</h5>Advokat<br><br>
        <p>
          Utdannet cand.jur fra universitetet i Oslo i 1971.
        </p>
        <p>
          Han ble advokat i 1973 og har siden 1998 hatt møterett for Høyesterett.
        </p>
        <p>
          Etter dommerfullmektigpraksis ved Hadeland og Land sorenskriverembete arbeidet
          han i advokatfirmaet BAHR i Oslo, med hovedsakelig forretningsjuridiske saker og noe prosedyre.
        </p>
        <p>
          Han kom til Namsos i 1974 i en godt opparbeidet praksis hos høyesterettsadvokat Trygve Wennewik med
          rådgivning og prosedyre innenfor alle juridiske spørsmål som oppstår i et distrikt som Namdalen, samt
          utstrakt rådgivning til kommuner.
        </p>
        <p>
          Godkjent voldgiftsdommer DNA.<br>
          Tilknyttet advokat for medlemmer av Norges Bondelag og NAF.
        </p>
      </div>

      <div class="card border p-3 m-3 shadow" style="max-width: 630px;">
        <img class="img-fluid pb-3" width="100" src="images/edyta.jpg" alt="Edyta">
        <h5 class="mb-0 pb-0">Edyta Maria Majka</h5>Advokatfullmektig<br><br>
        <p>
          Utdannet master i rettsvitenskap i 2009 fra Universitetet i Rzeszow, Polen. Bodd i Norge siden 2010,
          snakker flytende norsk, polsk, russisk og engelsk.
        </p>
      </div>

      <div class="card border p-3 m-3 shadow" style="max-width: 630px;">
        <img class="img-fluid pb-3" width="100" src="images/brita.jpeg" alt="Brita">
        <h5 class="mb-0 pb-0">Brita Reinert</h5>Advokatsekretær
      </div>

    </div>

    <script>
      document.getElementById("omoss").classList.add("active");
    </script>

    <footer>
      <% include ../partials/foother %>
    </footer>

  </div>
</body>

</html>