<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="bg-white p-3">
    <h4>Finansiering av salær</h4>
    <p>Når ikke annet er skriftlig avtalt eller skriftlig bekreftet, beregnes salæret etter en godtgjørelse pr. time fra
      NOK 1085 til NOK 3255, avhengig av sakstype og resultat. Det tillegges 25 % merverdiavgift. For vel definerte,
      avgrensede oppdrag kan det avtales samlet pris. For oppdrag som ikke kan timeestimeres, kan det avtales tak for
      salærkravet, slik at klienten varsles nær taket passeres uavhengig av om arbeidet er utført. Det er gratis å be om
      en samtale for å drøfte pris og vilkår.</p>
    <h4>Når du har kommet i en tvist</h4>
    <p>Vi søker dekning under rettshjelpsforsikring eller fri rettshjelpsordning for deg.</p>
    <div style="text-decoration: underline;">Din forsikring</div>
    <p>I dine private forsikringer har du rettshjelpsdekning som dekker advokatutgiftene.<br>
      Les mer: <a href="https://advokatenhjelperdeg.no/jus-artikler/dine-forsikringer-kan-dekke-advokatutgifter/">Dine
        forsikringer</a></p>
    <div style="text-decoration: underline;">Fri rettshjelp</div>
    <p>Dersom du har lav inntekt og formue kan du ha krav på fri rettshjelp. I enkelte saker dekker det offentlige
      advokatutgiftene uavhengig av økonomisk situasjon.<br>
      Les mer: <a href="https://advokatenhjelperdeg.no/jus-artikler/fri-rettshjelp/">Når har du krav på fri
        rettshjelp</a></p>
  </div>
  <br>

  <script>
    document.getElementById("finansiering").classList.add("active");
  </script>

  <footer>
    <% include ../partials/foother %>
  </footer>

</body>

</html>