<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>
  <div class="content">

    <header>
      <%- include('../partials/header') -%>
    </header>

    <div class="container d-xl-flex justify-content-center">
      <div class="card border p-3 m-3 shadow" style="max-width: 630px;">
        <h5>Støtteordninger</h5>
        <p>Drøft med oss om du har forsikring som dekker rettshjelpen eller om du har rett til fri rettshjelp fra det
          offentlige. Vi kan søke slik dekning for deg.</p>
        <p class="mb-0 pb-0" style="text-decoration: underline;">Din forsikring:</p>
        <div class="row">
          <div class="col-md-8">
            I dine private forsikringer har du rettshjelpsdekning som dekker advokatutgiftene.
          </div>
          <div class="col-md-4"> <a
              href="https://advokatenhjelperdeg.no/jus-artikler/dine-forsikringer-kan-dekke-advokatutgifter/"
              class="btn border shadow">Les mer</a>
          </div>
        </div>
        <br>
        <p class="mb-0 pb-0" style="text-decoration: underline;">Fri rettshjelp:</p>
        <div class="row">
          <div class="col-md-8">
            Dersom du har lav inntekt og formue kan du ha krav på fri rettshjelp. I enkelte saker dekker det
            offentlige
            advokatutgiftene uavhengig av økonomisk situasjon.
          </div>
          <div class="col-md-4"> <a href="https://advokatenhjelperdeg.no/jus-artikler/fri-rettshjelp"
              class="btn border shadow">Les mer</a>
          </div>
        </div>
      </div>

      <div class="card border p-3 m-3 shadow" style="max-width: 630px;">
        <h5>Advokatskikk</h5>
        <div class="row">
          <div class="col-md-8">
            <p>
              Det er adgang til å få prøvet om det foreligger brudd på god advokatskikk og salærets størrelse.
            </p>
          </div>
          <div class="col-md-4">
            <a href="https://advokatenhjelperdeg.no/jus-artikler/kan-jeg-klage-pa-advokaten/" class="btn border shadow">
              Les mer
            </a>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.getElementById("forsikring").classList.add("active");
    </script>

    <footer>
      <%- include('../partials/foother') -%>
    </footer>

  </div>
</body>

</html>