<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="bg-white p-3">
    <h4>Forsikring</h4>
    <p>Advokatkontoret har obligatorisk sikkerhetsstillelse som dekker yrkesansvaret.</p>
    <p>Hva sikkerheten dekker:</p>
    <p class="p-4" style="font: 0.9em sans-serif;">
      Sikkerheten dekker erstatningsansvar advokaten pådrar seg ved utøvelsen av advokatvirksomheten.<br><br>
      Sikkerheten dekker ikke deltakeransvar i ansvarlig selskap for erstatningsansvar som selskapet pådrar seg ved
      advokatvirksomhet, når minst en av selskapets advokater er solidarisk ansvarlig med selskapet etter domstolloven
      §
      232 første til fjerde ledd.<br><br>
      Sikkerheten dekker ikke ansvar som advokaten etter bestemmelse i eller i medhold av annen lov har stilt annen
      sikkerhet for.
    </p>
    <p>Kontaktinformasjon til vår sikkerhetsstiller finner du <a href="https://www.advokatforeningen.no/">her</a></p>
    <p>
      Det er adgang til å få prøvet om det foreligger brudd på god advokatskikk og salærets størrelse. Informasjon og
      vilkår for ordningen finner du <a
        href="https://advokatenhjelperdeg.no/jus-artikler/kan-jeg-klage-pa-advokaten/">her</a>
    </p>
  </div>
  <br>

  <script>
    document.getElementById("forsikring").classList.add("active");
  </script>

  <footer>
    <% include ../partials/foother %>
  </footer>

</body>

</html>