<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="bg-white p-3">
    <p>Advokatfirmaet driver alminnelig praksis i Namsos og ble etablert av høyesterettsadvokat Wennevik i 1941.</p>
    <p>Vi bistår privatpersoner, bedrifter og offentlige etater med rådgivning og sakførsel i domstolene. Vi fører
      mange saker om fast eiendoms rettsforhold, forretningsjus og offentlig rett i domstolene. Vi er bobestyrere i
      konkurs og offentlig skifte av dødsbo.</p>
    <p>Vi har i mange år bistått i ulike situasjoner og saker. Det har gitt oss erfaring og utviklet vår innsikt og
      kompetanse. Vi bestreber oss på å yte bistand med en sterk faglig og etisk forankring.</p>
    <img class="img-fluid" src="images/kontoret.png" alt="kontoret"><br>
    <p>Kontorene i Carl Gulbransonsgt 7, Namsos. Inngang blå dør.</p>
    <p>Advokatene har tillatelse til å drive advokatvirksomhet av <a href="https://tilsynet.no/">Tilsynsrådet for
        advokatvirksomhet</a>.</p>
  </div>
  <br>

  <footer>
    <% include ../partials/foother %>
  </footer>

</body>

</html>