<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>
  <header>
    <%- include('../partials/header') -%>
  </header>

  <div class="image-container">
    <img id="forside" src="images/namadv_forside.png" alt="namsos">
  </div>

  <div class="container-fluid d-flex justify-content-center" style="max-width: 650px;">
    <div class=" p-2 fs-3">
      Vi bistår privatpersoner, bedrifter og offentlige etater med
      rådgiving og sakførsel i domstolene og har bred kompetanse og lang erfaring.
    </div>
  </div>

  <div class="container-fluid d-flex justify-content-sm-center mb-4" style="max-width: 600px;">
    <div class="d-sm-flex justify-content-center align-items-sm-center">
      <div class="card shadow p-4 me-sm-3 mb-3 mb-sm-0" style="max-width: 550px;min-height: 130px;">
        <p class="card-text">Kontakt oss for alt fra enkle spørsmål til kompliserte juridiske oppgaver.</p>
        <a href="/kontakt" class="btn shadow card-link">Kontakt oss</a>
      </div>
      <div class="card shadow p-4 color-primary" style="max-width: 550px;min-height: 130px;">
        <p class="card-text">Advokatfirmaet ble etablert av høyesterettsadvokat Wennevik i 1941 og driver i dag
          alminnelig praksis i Namsos med møterett i Høyesterett.
        </p>
      </div>
    </div>
  </div>

  </div>
  <script>
    document.getElementById("hovedside").classList.add("active");
  </script>

  <footer>
    <%- include('../partials/foother') -%>
  </footer>

</body>

</html>