<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div style="overflow-x:auto;" class="bg-white p-1">
    <table class="table table-sm">
      <tr>
        <td style="width:150px;">Sentralbord:</td>
        <td>74 22 66 77</td>
      </tr>
      <tr>
        <td>Telefax:</td>
        <td>74 22 66 78</td>
      </tr>
      <tr>
        <td>Kontaktskjema:</td>
        <td><a href="/kontaktskjema">Kontaktskjema</a></td>
      </tr>
      <tr>
        <td>Postadresse:</td>
        <td>Advokat Ivar Hustad AS<br>Postbox 500<br>7801 Namsos</td>
      </tr>
      <tr>
        <td>Besøksadresse:</td>
        <td>Carl Gulbransons gt. 7 i Namsos <a href="/kart">kart</a></td>
      </tr>
      <tr>
        <td>Ivar Hustad:</td>
        <td><a href="mailto:ih@namsosadvokatene.no">ih@namsosadvokatene.no</a></td>
      </tr>
      <tr>
        <td>Edyta Maria Majka:</td>
        <td><a href="mailto:emm@namsosadvokatene.no">emm@namsosadvokatene.no</a></td>
      </tr>
      <tr>
        <td>Brita Reinert:</td>
        <td><a href="mailto:br@namsosadvokatene.no">br@namsosadvokatene.no</a></td>
      </tr>
    </table>
  </div>
  <br>

  <script>
    document.getElementById("kontakt").classList.add("active");
  </script>

  <footer>
    <% include ../partials/foother %>
  </footer>

</body>


</html>
