<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="bg-white p-3">
    <table class="table table-sm">
      <tr>
        <td class="w-25">Sentralbord:</td>
        <td>74 22 66 77</td>
      </tr>
      <tr>
        <td>Telefax:</td>
        <td>74 22 66 78</td>
      </tr>
      <tr>
        <td>Postadresse:</td>
        <td>Advokatene Hustad og Sørvig AS<br>Postbox 500<br>7801 Namsos</td>
      </tr>
      <tr>
        <td>Besøksadresse:</td>
        <td>Carl Gulbransons gt. 7 i Namsos <a href="/kart">kart</a></td>
      </tr>
      <tr>
        <td>Ivar Hustad:</td>
        <td><a href="mailto:ih@namsosadvokatene.no">ih@namsosadvokatene.no</a></td>
      </tr>
      <tr>
        <td>Edyta Maria Majka:</td>
        <td><a href="mailto:emm@namsosadvokatene.no">emm@namsosadvokatene.no</a></td>
      </tr>
      <tr>
        <td>Ida Bergslid:</td>
        <td><a href="mailto:ijb@namsosadvokatene.no">ijb@namsosadvokatene.no</a></td>
      </tr>
    </table>
  </div>
  <br>

  <script>
    document.getElementById("kontakt").classList.add("active");
  </script>

  <footer>
    <% include ../partials/foother %>
  </footer>

</body>


</html>