<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') -%>
</head>

<body>
  <div class="content">

    <header>
      <%- include('../partials/header') -%>
    </header>

    <div class="container-fluid d-flex justify-content-center">
      <div class="card border p-3 m-3 shadow">
        <h5>Priser</h5>
        <p>Når ikke annet er skriftlig avtalt eller skriftlig bekreftet, beregnes prisen etter en godtgjørelse
          på kr. 2.000,- pr. time og for enkelte sakstyper kr. 1.140,- pr. time. Det tillegges 25 % merverdiavgift.
        </p>
        <p>
          For vel definerte, avgrensede oppdrag kan det avtales samlet pris.
        </p>
        <p>
          For oppdrag som ikke kan timeestimeres, kan det avtales pristak, slik at klienten varsles når taket passeres
          uavhengig av om arbeidet er utført.
        </p>
        <p>
          Det er gratis å be om en samtale for å drøfte pris og vilkår.
        </p>
      </div>
    </div>

    <script>
      document.getElementById("priser").classList.add("active");
    </script>

    <footer>
      <%- include('../partials/foother') -%>
    </footer>

  </div>
</body>

</html>