body {
  background: white;
  font-family: 'Ubuntu', sans-serif;
  overflow: visible;
}

p {
  max-width: 600px;
}

.orange {
  background: #aa530b;
  border-color: #aa530b;
  color: white;
}

.error {
  color: red;
}

.content {
  margin: auto;
}

.content-forsikring {
  max-width: 1000px;
  margin: auto;
}

.header {
  background: #00199A;
  color: white;
}

.header a{
  color: white;
}

.header a:hover {
  color: #3a93ff;
}

.header .active{
  color: white;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.btn {
  background-color: #D2FEFF;
  color: black;
  font-size: 1em;
  padding: 1em;
  border: none;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background-color: black;
  color: white;
}

.image-container .btn {
  position: absolute;
  font-size: 1.2vw;
  padding: 1.2vw;
}

@media only screen and (max-width: 600px) {
  .image-container .btn {
    position: absolute;
    font-size: 1.2vw;
    padding: 1.2vw;
  }
}

.image-container .btn1 {
  bottom: 10%;
  right: 15%;
}

.image-container .btn2 {
  bottom: 10%;
  right: 3%;
}

.footer {
  background: #000E56;
  color: white;
}
.footer .links a {
  color: white;
  transition: color 0.2s;
}
.footer .links a:hover {
  text-decoration: none;
  color: #4180cb;
}
 
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo {
  font-family: 'Merriweather Sans', sans-serif;
}