<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="content border-start border-end">

    <header>
      <% include ../partials/header %>
    </header>

    <div class="content-forsikring p-3">
      <h5>Fri rettshjelp</h5>
      <div class="row">
        <div class="col-md-6">
          <p>Dersom du har lav inntekt og formue kan du ha krav på fri rettshjelp. I enkelte saker dekker det offentlige
            advokatutgiftene uavhengig av økonomisk situasjon.</p>
        </div>
        <div class="col-md-4">
          <a href="https://advokatenhjelperdeg.no/jus-artikler/fri-rettshjelp/" class="btn shadow">Les mer</a>
        </div>
      </div>
      <br>
      <h5>Forsikring</h5>
      <p>Advokatkontoret har obligatorisk sikkerhetsstillelse som dekker yrkesansvaret.</p>
      <p>Hva sikkerheten dekker:</p>
      <div class="p-4 grey maksw" style="font: 0.9em sans-serif;">
        <ul>
          <li>
            Sikkerheten dekker erstatningsansvar advokaten pådrar seg ved utøvelsen av advokatvirksomheten.
          </li><br>
          <li>
            Sikkerheten dekker ikke deltakeransvar i ansvarlig selskap for erstatningsansvar som selskapet pådrar seg
            ved
            advokatvirksomhet, når minst en av selskapets advokater er solidarisk ansvarlig med selskapet etter
            domstolloven §232 første til fjerde ledd.
          </li><br>
          <li>
            Sikkerheten dekker ikke ansvar som advokaten etter bestemmelse i eller i medhold av annen lov har stilt
            annen
            sikkerhet for.
          </li>
        </ul>
        <a href="https://www.advokatforeningen.no/" class="btn shadow">Les mer</a>
      </div>
      <br>
      <h5>Advokatskikk</h5>
      <div class="row">
        <div class="col-md-6">
          <p>
            Det er adgang til å få prøvet om det foreligger brudd på god advokatskikk og salærets størrelse.
          </p>
        </div>
        <div class="col-md-4">
          <a href="https://advokatenhjelperdeg.no/jus-artikler/kan-jeg-klage-pa-advokaten/" class="btn shadow">Les
            mer</a>
        </div>
      </div>
    </div>

    <script>
      document.getElementById("forsikring").classList.add("active");
    </script>

    <footer>
      <% include ../partials/foother %>
    </footer>

  </div>
</body>

</html>