<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>

  <div class="image-container">
    <img class="img-fluid" src="images/forside.jpg" alt="namsos">
    <a href="/redesign1/kontakt" class="btn btn1">Kontakt oss</a>
    <a href="/redesign1/kompetanse" class="btn btn2">Kompetanse</a>
  </div>
  <div class="col offset-lg-1 pt-3">
    <div class="col ps-4" style="max-width: 600px;">
      <p>Vi bistår privatpersoner, bedrifter og offentlige etater med
        rådgiving og sakførsel i domstolene og har bred kompetanse og lang erfaring.</p>
    </div>

    <div class="row row-col-2 p-0 m-0 mx-lg-auto">
      <div class="col-auto pb-3" style="max-width: 320px;">
        <div class="card shadow p-4" style="max-width: 250px;height: 220px;">
          <p class="card-text">Kontakt oss for alt fra enkle spørsmål til kompliserte juridiske oppgaver.</p>
          <a href="/redesign1/kontakt" class="btn shadow card-link">Kontakt oss</a>
        </div>
      </div>

      <div class="col-auto pb-3" style="max-width: 300px;">
        <div class="card shadow p-4 color-primary" style="max-width: 250px;height: 220px;">
          <p class="card-text">Advokatfirmaet ble etablert av høyesterettsadvokat Wennevik i 1941 og driver i dag
            alminnelig praksis i Namsos med møterett i Høyesterett.
          </p>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.getElementById("hovedside").classList.add("active");
  </script>

  <footer>
    <% include ../partials/foother %>
  </footer>

</body>

</html>