<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="content border-start border-end">
    <header>
      <% include ../partials/header %>
    </header>
    <div class="image-container">
      <img class="img-fluid" src="images/IMG_3064_crop1.jpg" alt="namsos"><br>
      <a href="/redesign1/kontakt" class="btn btn1">Kontakt oss</a>
      <a href="/redesign1/kompetanse" class="btn btn2">Kompetanse</a>
    </div>
    <div class="bg-white p-4">
      <p class="p-5">Vi bistår privatpersoner, bedrifter og
        offentlige
        etater med
        rådgiving og sakførsel i
        domstolene og har bred kompetanse og lang erfaring.</p>
    </div>

    <script>
      document.getElementById("hovedside").classList.add("active");
    </script>

    <footer>
      <% include ../partials/foother %>
    </footer>
  </div>
</body>

</html>