<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="content border-start border-end">

    <header>
      <% include ../partials/header %>
    </header>

    <div class="image-container">
      <img class="img-fluid" src="images/IMG_3064_crop1.jpg" alt="namsos"><br>
      <a href="/redesign1/kontakt" class="btn btn1">Kontakt oss</a>
      <a href="/redesign1/kompetanse" class="btn btn2">Kompetanse</a>
    </div>

    <div class="row pt-4 pb-4">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <p style="font-size: 30px;">Vi bistår privatpersoner, bedrifter og offentlige etater med
          rådgiving og sakførsel i domstolene og har bred kompetanse og lang erfaring.</p>
      </div>
    </div>

    <div class="row content-forsikring">
      <div class="col-md-2"></div>
      <div class="col-md-3 shadow">
        <p>Kontakt oss for alt fra enkle spørsmål til kompliserte juridiske oppgaver.</p>
        <a href="/redesign1/kontakt" class="btn btn1">Kontakt oss</a>
        <br><br>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-3 shadow">
        <div class="col-md-2"></div>
        Advokatfirmaet ble etablert av høyesterettsadvokat Wennevik i 1941 og driver i dag alminnelig praksis i Namsos
        med møterett i høyesterett.
      </div>
    </div>
    <br><br>

    <script>
      document.getElementById("hovedside").classList.add("active");
    </script>

    <footer>
      <% include ../partials/foother %>
    </footer>
  </div>
</body>

</html>