<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="row m-0 pt-3 ps-5 pe-5 justify-content-center">
    <div class="col-lg-3 pb-3" style="max-width: 400px;">
      <div class="color-secondary text-center rounded-top pt-3 pb-3 shadow">
        <h5>Eiendomsrett</h5>
      </div>
      <div class="shadow rounded-bottom">
        <div class="collapse p-3" id="prosedyre">
          Grensespørsmål<br>
          Festeforhold<br>
          Odelsrett<br>
          Kjøp og salg<br>
          Forsikringsdekning<br>
          Bruksrettigheter<br>
          Husleie
        </div>
        <div class="bg-white border-top text-center" data-bs-toggle="collapse" href="#prosedyre" role="button"
          id="prosedyre_button" aria-expanded="false" aria-controls="prosedyre"
          onclick="toggleMoreLess(document.getElementById('prosedyre_more'),document.getElementById('prosedyre_less'));">
          <img id="prosedyre_more" style="display: inline;" src="images/expand_more_black_36dp.svg" alt="expand_more" />
          <img id="prosedyre_less" style="display: none;" src="images/expand_less_black_36dp.svg" alt="expand_less" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 pb-3" style="max-width: 400px;">
      <div class="color-secondary text-center rounded-top pt-3 pb-3 shadow">
        <h5>Familierett</h5>
      </div>
      <div class="shadow rounded-bottom">
        <div class="collapse p-3" id="familierett">
          Ektepakt og samboerkontrakter<br>
          Fremtidsfullmakt<br>
          Samlivsbrudd<br>
          Barnefordeling<br>
          Skole og utdanning
        </div>
        <div class="bg-white border-top text-center" data-bs-toggle="collapse" href="#familierett" role="button"
          aria-expanded="false" aria-controls="familierett"
          onclick="toggleMoreLess(document.getElementById('familierett_more'),document.getElementById('familierett_less'));">
          <img id="familierett_more" style="display: inline;" src="images/expand_more_black_36dp.svg"
            alt="expand_more" />
          <img id="familierett_less" style="display: none;" src="images/expand_less_black_36dp.svg" alt="expand_less" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 pb-3" style="max-width: 400px;">
      <div class="color-secondary text-center rounded-top pt-3 pb-3 shadow">
        <h5>Arbeidsrett</h5>
      </div>
      <div class="shadow rounded-bottom">
        <div class="collapse p-3" id="arbeidsrett">
          Arbeidstvister<br>
          Oppsigelse og avskjed<br>
          Nedbemanning<br>
          Arbeidsmiljøloven<br>
          Erstatning og oppreisning
        </div>
        <div class="bg-white border-top text-center" data-bs-toggle="collapse" href="#arbeidsrett" role="button"
          aria-expanded="false" aria-controls="arbeidsrett"
          onclick="toggleMoreLess(document.getElementById('arbeidsrett_more'),document.getElementById('arbeidsrett_less'));">
          <img id="arbeidsrett_more" style="display: inline;" src="images/expand_more_black_36dp.svg"
            alt="expand_more" />
          <img id="arbeidsrett_less" style="display: none;" src="images/expand_less_black_36dp.svg" alt="expand_less" />
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0 pt-3 ps-5 pe-5 justify-content-center">
    <div class="col-lg-3 pb-3" style="max-width: 400px;">
      <div class="color-secondary text-center rounded-top pt-3 pb-3 shadow">
        <h5>Arverett</h5>
      </div>
      <div class="shadow rounded-bottom">
        <div class="collapse p-3" id="arverett">
          Testament<br>
          Fremtidsfullmakt<br>
          Arveoppgjør<br>
          Bobehandling
        </div>
        <div class="bg-white border-top text-center" data-bs-toggle="collapse" href="#arverett" role="button"
          aria-expanded="false" aria-controls="arverett"
          onclick="toggleMoreLess(document.getElementById('arverett_more'),document.getElementById('arverett_less'));">
          <img id="arverett_more" style="display: inline;" src="images/expand_more_black_36dp.svg" alt="expand_more" />
          <img id="arverett_less" style="display: none;" src="images/expand_less_black_36dp.svg" alt="expand_less" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 pb-3" style="max-width: 400px;">
      <div class="color-secondary text-center rounded-top pt-3 pb-3 shadow">
        <h5>Selskapsrett</h5>
      </div>
      <div class="shadow rounded-bottom">
        <div class="collapse p-3" id="selskapsrett">
          Styrearbeide<br>
          Omstrukturering<br>
          Kjøp og salg av næring<br>
          Selskapsetablering<br>
          Selskapsrettigheter
        </div>
        <div class="bg-white border-top text-center" data-bs-toggle="collapse" href="#selskapsrett" role="button"
          aria-expanded="false" aria-controls="selskapsrett"
          onclick="toggleMoreLess(document.getElementById('selskapsrett_more'),document.getElementById('selskapsrett_less'));">
          <img id="selskapsrett_more" style="display: inline;" src="images/expand_more_black_36dp.svg"
            alt="expand_more" />
          <img id="selskapsrett_less" style="display: none;" src="images/expand_less_black_36dp.svg"
            alt="expand_less" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 pb-3" style="max-width: 400px;">
      <div class="color-secondary text-center rounded-top pt-3 pb-3 shadow">
        <h5>Bygg og entreprise</h5>
      </div>
      <div class="shadow rounded-bottom">
        <div class="collapse p-3" id="forretningsjus">
          Anbudsregler<br>
          KOFA<br>
          Oppgjørstvister<br>
          Standardvilkår
        </div>
        <div class="bg-white border-top text-center" data-bs-toggle="collapse" href="#forretningsjus" role="button"
          aria-expanded="false" aria-controls="forretningsjus"
          onclick="toggleMoreLess(document.getElementById('forretningsjus_more'),document.getElementById('forretningsjus_less'));">
          <img id="forretningsjus_more" style="display: inline;" src="images/expand_more_black_36dp.svg"
            alt="expand_more" />
          <img id="forretningsjus_less" style="display: none;" src="images/expand_less_black_36dp.svg"
            alt="expand_less" />
        </div>
      </div>
    </div>
  </div>
  <div class="row m-0 pt-3 ps-5 pe-5 justify-content-center">
    <div class="col-lg-3 pb-3" style="max-width: 400px;">
      <div class="color-secondary text-center rounded-top pt-3 pb-3 shadow">
        <h5>Avtalerett</h5>
      </div>
      <div class="shadow rounded-bottom">
        <div class="collapse p-3" id="avtalerett">
          Kontraktsinngåelse<br>
          Kontraktstolkning
        </div>
        <div class="bg-white border-top text-center" data-bs-toggle="collapse" href="#avtalerett" role="button"
          aria-expanded="false" aria-controls="avtalerett"
          onclick="toggleMoreLess(document.getElementById('avtalerett_more'),document.getElementById('avtalerett_more'));">
          <img id="avtalerett_more" style="display: inline;" src="images/expand_more_black_36dp.svg"
            alt="expand_more" />
          <img id="avtalerett_less" style="display: none;" src="images/expand_less_black_36dp.svg" alt="expand_less" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 pb-3" style="max-width: 400px;">
      <div class="color-secondary text-center rounded-top pt-3 pb-3 shadow">
        <h5>Strafferett</h5>
      </div>
      <div class="shadow rounded-bottom">
        <div class="collapse p-3" id="strafferett">
          Forsvarer<br>
          Bistandsadvokat
        </div>
        <div class="bg-white border-top text-center" data-bs-toggle="collapse" href="#strafferett" role="button"
          aria-expanded="false" aria-controls="strafferett"
          onclick="toggleMoreLess(document.getElementById('strafferett_more'),document.getElementById('strafferett_less'));">
          <img id="strafferett_more" style="display: inline;" src="images/expand_more_black_36dp.svg"
            alt="expand_more" />
          <img id="strafferett_less" style="display: none;" src="images/expand_less_black_36dp.svg" alt="expand_less" />
        </div>
      </div>
    </div>
    <div class="col-lg-3 pb-3" style="max-width: 400px;">
      <div class="color-secondary text-center rounded-top pt-3 pb-3 shadow">
        <h5>Bil og båt</h5>
      </div>
      <div class="shadow rounded-bottom">
        <div class="collapse p-3" id="bilogbaat">
          Selgeransvar<br>
          Verkstedsansvar
        </div>
        <div class="bg-white border-top text-center" data-bs-toggle="collapse" href="#bilogbaat" role="button"
          aria-expanded="false" aria-controls="bilogbaat"
          onclick="toggleMoreLess(document.getElementById('bilogbaat_more'),document.getElementById('bilogbaat_less'));">
          <img id="bilogbaat_more" style="display: inline;" src="images/expand_more_black_36dp.svg" alt="expand_more" />
          <img id="bilogbaat_less" style="display: none;" src="images/expand_less_black_36dp.svg" alt="expand_less" />
        </div>
      </div>
    </div>
  </div>

  <script>
    function toggleMoreLess(elementMore, elementLess) {
      if (elementMore.style.display == 'inline') {
        elementMore.style.display = 'none';
        elementLess.style.display = 'inline';
      }
      else {
        elementMore.style.display = 'inline';
        elementLess.style.display = 'none';
      }
    }

    document.getElementById("kompetanse").classList.add("active");
  </script>

  <footer>
    <% include ../partials/foother %>
  </footer>

</body>

</html>