<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="content border-start border-end">

    <header>
      <% include ../partials/header %>
    </header>

    <br><br>
    <div class="row justify-content-md-center fw-bold">
      <div class="col-md-3 p-2"></div>
      <div class="col-md-2 p-2"></div>
    </div>
    <div class="row justify-content-md-center fw-bold">
      <div class="col-md-3 p-2">
        <div class="orange text-center rounded-top p-3 shadow">
          <h5>Eiendomsrett</h5>
        </div>
        <div class="shadow rounded-bottom">
          <div class="bg-white text-center p-3" data-bs-toggle="collapse" href="#prosedyre" role="button"
            aria-expanded="false" aria-controls="prosedyre">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="darkblue"
              class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
            </svg>
            </a>
          </div>
          <div class="collapse" id="prosedyre">
            <div class="bg-white ps-4 pb-3">
              Grensespørsmål<br>
              Festeforhold<br>
              Odelsrett<br>
              Kjøp og salg<br>
              Forsikringsdekning<br>
              Bruksrettigheter<br>
              Husleie
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="orange text-center rounded-top p-3 shadow">
          <h5>Familierett</h5>
        </div>
        <div class="shadow rounded-bottom">
          <div class="bg-white text-center p-3" data-bs-toggle="collapse" href="#familierett" role="button"
            aria-expanded="false" aria-controls="familierett">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="darkblue"
              class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
            </svg>
            </a>
          </div>
          <div class="collapse" id="familierett">
            <div class="bg-white ps-4 pb-3">
              Ektepakt og samboerkontrakter<br>
              Fremtidsfullmakt<br>
              Samlivsbrudd<br>
              Barnefordeling<br>
              Skole og utdanning
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="orange text-center rounded-top p-3 shadow">
          <h5>Arbeidsrett</h5>
        </div>
        <div class="shadow rounded-bottom">
          <div class="bg-white text-center p-3" data-bs-toggle="collapse" href="#arbeidsrett" role="button"
            aria-expanded="false" aria-controls="arbeidsrett">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="darkblue"
              class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
            </svg>
            </a>
          </div>
          <div class="collapse" id="arbeidsrett">
            <div class="bg-white ps-4 pb-3">
              Arbeidstvister<br>
              Oppsigelse og avskjed<br>
              Nedbemanning<br>
              Arbeidsmiljøloven<br>
              Erstatning og oppreisning
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center fw-bold">
      <div class="col-md-3 p-2">
        <div class="orange text-center rounded-top p-3 shadow">
          <h5>Arverett</h5>
        </div>
        <div class="shadow rounded-bottom">
          <div class="bg-white text-center p-3" data-bs-toggle="collapse" href="#arverett" role="button"
            aria-expanded="false" aria-controls="arverett">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="darkblue"
              class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
            </svg>
            </a>
          </div>
          <div class="collapse" id="arverett">
            <div class="bg-white ps-4 pb-3">
              Testament<br>
              Fremtidsfullmakt<br>
              Arveoppgjør<br>
              Bobehandling
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="orange text-center rounded-top p-3 shadow">
          <h5>Selskapsrett</h5>
        </div>
        <div class="shadow rounded-bottom">
          <div class="bg-white text-center p-3" data-bs-toggle="collapse" href="#selskapsrett" role="button"
            aria-expanded="false" aria-controls="selskapsrett">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="darkblue"
              class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
            </svg>
            </a>
          </div>
          <div class="collapse" id="selskapsrett">
            <div class="bg-white ps-4 pb-3">
              Styrearbeide<br>
              Omstrukturering<br>
              Kjøp og salg av næring<br>
              Selskapsetablering<br>
              Selskapsrettigheter
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="orange text-center rounded-top p-3 shadow">
          <h5>Bygg og entreprise</h5>
        </div>
        <div class="shadow rounded-bottom">
          <div class="bg-white text-center p-3" data-bs-toggle="collapse" href="#forretningsjus" role="button"
            aria-expanded="false" aria-controls="forretningsjus">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="darkblue"
              class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
            </svg>
            </a>
          </div>
          <div class="collapse" id="forretningsjus">
            <div class="bg-white ps-4 pb-3">
              Anbudsregler<br>
              KOFA<br>
              Oppgjørstvister<br>
              Standardvilkår
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center fw-bold pb-4">
      <div class="col-md-3 p-2">
        <div class="orange text-center rounded-top p-3 shadow">
          <h5>Avtalerett</h5>
        </div>
        <div class="shadow rounded-bottom">
          <div class="bg-white text-center p-3" data-bs-toggle="collapse" href="#avtalerett" role="button"
            aria-expanded="false" aria-controls="avtalerett">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="darkblue"
              class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
            </svg>
            </a>
          </div>
          <div class="collapse" id="avtalerett">
            <div class="bg-white ps-4 pb-3">
              Kontraktsinngåelse<br>
              Kontraktstolkning
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="orange text-center rounded-top p-3 shadow">
          <h5>Strafferett</h5>
        </div>
        <div class="shadow rounded-bottom">
          <div class="bg-white text-center p-3" data-bs-toggle="collapse" href="#strafferett" role="button"
            aria-expanded="false" aria-controls="strafferett">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="darkblue"
              class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
            </svg>
            </a>
          </div>
          <div class="collapse" id="strafferett">
            <div class="bg-white ps-4 pb-3">
              Forsvarer<br>
              Bistandsadvokat
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-2">
        <div class="orange text-center rounded-top p-3 shadow">
          <h5>Bil og båt</h5>
        </div>
        <div class="shadow rounded-bottom">
          <div class="bg-white text-center p-3" data-bs-toggle="collapse" href="#bilogbaat" role="button"
            aria-expanded="false" aria-controls="bilogbaat">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="darkblue"
              class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z" />
            </svg>
            </a>
          </div>
          <div class="collapse" id="bilogbaat">
            <div class="bg-white ps-4 pb-3">
              Selgeransvar<br>
              Verkstedsansvar
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>

    <script>
      document.getElementById("kompetanse").classList.add("active");
    </script>

    <footer>
      <% include ../partials/foother %>
    </footer>
  </div>
</body>

</html>