<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="content border-start border-end">
    <header>
      <% include ../partials/header %>
    </header>

    <div>
      <div class="row m-4">
        <div class="col-md-6">
          <h5>Telefon: 74 22 66 77</h5>
          <p>Ivar Hustad<br><a href="mailto:ih@namsosadvokatene.no">ih@namsosadvokatene.no</a></p>
          <p>Edyta Maria Majka<br><a href="mailto:emm@namsosadvokatene.no">emm@namsosadvokatene.no</a></p>
          <p>Brita Reinert<br><a href="mailto:br@namsosadvokatene.no">br@namsosadvokatene.no</a></p>
          <h5>Postadresse</h5>
          <p>Advokat Ivar Hustad AS<br>Postboks 500<br>7801 Namsos</p>
          <h5>Besøksadresse</h5>
          <p>Carl Guldbransons gate 7<br>7801 Namsos</p>
          <a
            href="https://www.google.com/maps/place/Carl+Gulbransons+gate+7,+7800+Namsos/@64.4651044,11.4942079,17z/data=!3m1!4b1!4m5!3m4!1s0x4672e62c5ba45377:0x32b3091eece84fd9!8m2!3d64.4651044!4d11.4963967">
            <img class="img-fluid border border-2 border-dark rounded" width="300" src="images/map3.jpg" alt="map">
          </a>
          <br><br>
        </div>
        <div class="col-md-5 p-0 border rounded shadow">
          <div class="orange text-center rounded-top pt-3 pb-3 shadow">
            <h5>Kontaktskjema</h5>
          </div>
          <div class="p-2">
            <form action="/redesign1/kontakt" id="kontaktskjema" method="post">
              <div class="pb-2">
                <label for="fnavn" class="form-label fw-bold">Navn:</label>
                <input placeholder="Ditt navn" type="text" class="form-control" name="fnavn" required>
              </div>
              <div class="pb-2">
                <label for="bosted" class="form-label fw-bold">Bosted:</label>
                <input placeholder="Ditt bosted" type="text" class="form-control" name="bosted" required>
              </div>
              <div class="pb-2">
                <label for="epost" class="form-label fw-bold">E-post:</label>
                <input placeholder="Din e-post adresse" type="text" id="epost" class="form-control" name="epost">
              </div>
              <div class="pb-2">
                <label for="tlf" class="form-label fw-bold">Telefonnummer:</label>
                <input placeholder="Ditt telefonnummer" type="number" class="form-control" name="tlf">
              </div>
              <div class="pb-2">
                <label for="tekst" class="form-label fw-bold">Forespørsel:</label>
                <textarea placeholder="Hva gjelder hendvendelsen" class="form-control" id="tekst" name="tekst"
                  rows="3"></textarea>
              </div>
              <div>
                <input id="epostkopi" name="epostkopi" class="form-check-input" type="checkbox">
                <label for="epostkopi" class="form-label fw-bold">Send kopi til min e-post</label>
              </div>
              <div class="kontaktskjema-button">
                <button class="btn" id="myButton">Send</button>
              </div>
            </form>
          </div>
          <br>
        </div>
      </div>
    </div>

    <script>
      document.getElementById("kontakt").classList.add("active");
    </script>

    <footer>
      <% include ../partials/foother %>
    </footer>

  </div>
</body>


</html>