<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
    <style>
      .error {
        color: red;
      }
    </style>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="row offset-lg-1">
    <div class="col-md">
      <div class="p-3 card border mt-3 mb-3 shadow">
        <p><span style="font-size: 1.25rem;font-weight: 500;">Telefon: </span>74 22 66 77</p>
        <h5>Epost</h5>
        <p>Ivar Hustad:<br><a href="mailto:ih@namsosadvokatene.no">ih@namsosadvokatene.no</a></p>
        <p>Edyta Maria Majka:<br><a href="mailto:emm@namsosadvokatene.no">emm@namsosadvokatene.no</a></p>
        <p>Brita Reinert:<br><a href="mailto:br@namsosadvokatene.no">br@namsosadvokatene.no</a></p>
        <h5>Postadresse</h5>
        <p>Advokat Ivar Hustad AS<br>Postboks 100<br>7801 Namsos</p>
        <h5>Besøksadresse</h5>
        <p>Carl Guldbransons gate 7<br>7801 Namsos</p>
        <a
          href="https://www.google.com/maps/place/Carl+Gulbransons+gate+7,+7800+Namsos/@64.4651044,11.4942079,17z/data=!3m1!4b1!4m5!3m4!1s0x4672e62c5ba45377:0x32b3091eece84fd9!8m2!3d64.4651044!4d11.4963967">
          <img class="img-fluid border border-2 border-dark rounded" width="300" src="images/map3.jpg" alt="map">
        </a>
      </div>
    </div>
    <div class="col-md">
      <div class="card border mt-3 mb-3 shadow">
        <div class="color-secondary text-center rounded-top pt-3 pb-3 shadow">
          <h5>Kontaktskjema</h5>
        </div>
        <div class="p-4">
          <form action="/redesign1/skjema" id="kontaktskjema" method="post">
            <div class="pb-3">
              <label for="navn" class="form-label fw-bold">Navn:</label>
              <input placeholder="Ditt navn" type="text" class="form-control" name="navn" required>
            </div>
            <div class="pb-3">
              <label for="bosted" class="form-label fw-bold">Bosted:</label>
              <input placeholder="Ditt bosted" type="text" class="form-control" name="bosted" required>
            </div>
            <div class="pb-3">
              <label for="epost" class="form-label fw-bold">E-post:</label>
              <input placeholder="Din e-post adresse" type="text" id="epost" class="form-control" name="epost">
            </div>
            <div class="pb-3">
              <label for="tlf" class="form-label fw-bold">Telefonnummer:</label>
              <input placeholder="Ditt telefonnummer" type="number" class="form-control" name="tlf">
            </div>
            <div class="pb-3">
              <label for="tekst" class="form-label fw-bold">Forespørsel:</label>
              <textarea placeholder="Hva gjelder hendvendelsen" class="form-control" id="tekst" name="tekst"
                rows="3"></textarea>
            </div>
            <div>
              <input id="epostkopi" name="epostkopi" class="form-check-input" type="checkbox">
              <label for="epostkopi" class="form-label fw-bold">Send kopi til min e-post</label>
            </div>
            <br>
            <div class="d-flex justify-content-center pb-4">
              <button class="btn border shadow" style="width: 100%;" id="myButton">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById("kontakt").classList.add("active");
  </script>

  <footer>
    <% include ../partials/foother %>
  </footer>

  <script>
    $("#kontaktskjema").validate({
      rules: {
        navn: "required",
        bosted: "required",
        tlf: {
          required: true,
          minlength: 8,
        },
        epost: {
          required: true,
          email: true
        },
        tekst: "required"
      },
      messages: {
        navn: "Navn må fylles ut",
        bosted: "Bosted må fylles ut",
        tlf: {
          required: "Telefonnummer må fylles ut",
          minlengt: "Telefonnummer må være minimum 8 tall",
        },
        epost: {
          required: "Epost må fylles ut",
          email: "En gyldig e-post adresse må fylles ut f.eks. navn@domene.no"
        },
        tekst: "Forespørsel må fylles ut"
      }
    });
  </script>

</body>


</html>