<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <div class="content border-start border-end">

    <header>
      <% include ../partials/header %>
    </header>

    <div class="p-3">
      <div class="content-omoss grey">
        <div class="row">
          <div class="col-md-3">
            <img class="img-fluid image-omoss" width="130" src="images/ivar.jpg" alt="Ivar">
          </div>
          <div class="col-md-9 p-4">
            <h5 class="mb-0 pb-0">Ivar Hustad</h5>
            Advokat<br><br>
            <div>
              Utdannet cand.jur fra universitetet i Oslo i 1971.
              <br><br>
              Han ble advokat i 1973 og har siden 1998 hatt møterett for Høyesterett.
              <br><br>
              Etter dommerfullmektigpraksis ved Hadeland og Land sorenskriverembete arbeidet
              han i advokatfirmaet BAHR i Oslo, med hovedsakelig forretningsjuridiske saker og noe prosedyre.
              <br><br>
              Han kom til Namsos i 1974 i en godt opparbeidet praksis hos høyesterettsadvokat Trygve Wennewik med
              rådgivning og prosedyre innenfor alle juridiske spørsmål som oppstår i et distrikt som Namdalen, samt
              utstrakt rådgivning til kommuner.
              <br><br>
              Godkjent voldgiftsdommer DNA.<br>
              Tilknyttet advokat for medlemmer av Norges Bondelag og NAF.
            </div>
          </div>
        </div>
      </div>
      <div class="content-omoss grey mt-2">
        <div class="row">
          <div class="col-md-3">
            <img class="img-fluid image-omoss" width="100" src="images/edyta.jpg" alt="Edyta">
          </div>
          <div class="col-md-9 p-4">
            <h5 class="mb-0 pb-0">Edyta Maria Majka</h5>
            Advokatfullmektig<br><br>
            <div>
              Utdannet master i rettsvitenskap i 2009 fra Universitetet i Rzeszow, Polen. Bodd i Norge siden 2010,
              snakker flytende norsk, polsk, russisk og engelsk.
            </div>
          </div>
        </div>
      </div>
      <div class="content-omoss grey mt-2">
        <div class="row">
          <div class="col-md-3">
            <img class="img-fluid image-omoss" width="100" src="images/brita.jpeg" alt="Brita">
          </div>
          <div class="col-md-9 p-4">
            <h5 class="mb-0 pb-0">Brita Reinert</h5>
            <br><br>
            <div>
              Brita Reinert er advokatsekretær
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.getElementById("omoss").classList.add("active");
    </script>

    <footer>
      <% include ../partials/foother %>
    </footer>

  </div>
</body>

</html>